a{
  text-decoration: none;
  color: #4169e1;
}

a:hover{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#q{
  font-size: 100px;
  font-style: italic;
}

body{
  background-color: whitesmoke;
}

.header_box {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
  }

.logo {
    color: royalblue;
    align-items: flex-start;
    align-self: start;
    width: 100%;
    padding-top: 12px; 
    padding-right: 80px;
    padding-bottom: 12px;
    padding-left: 41px;
    font: 700 24px times, sans-serif;
    font-style: italic;
  }

.quiz_title {
    color: royalblue;
    align-self: stretch;
    font: 700 48px times, sans-serif;
  }

.card_placeholder {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 0 auto;
    display: flex;
    height: 600px;
    margin-top: 91px;
    width: 100%;
    max-width: 1000px;
    padding: 30px 36px 30px 36px;
  }

.question_number {
    position: relative;
    color: royalblue;
    align-self: end;
    margin-right: 15px;
    font: 700 50px times, sans-serif;
  }

.question {
    position: relative;
    color: royalblue;
    align-self: center;
    margin-top: 40px;
    font: 700 50px times, sans-serif;
  }

.answer_list {
    justify-content: center;
    align-self: center;
    display: flex;
    margin-top: 60px;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
  }

.answer {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

.answer_chosen {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  justify-content: center; 
  color: #00a3ff;
  font: 700 30px times, sans-serif;
  align-self: stretch;
  flex-basis: auto;
}

.answer:hover {
  align-items: flex-start;
  align-self: stretch;    
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight:bold;
}

.answer_name {
    color: royalblue;
    align-self: stretch;
    flex-basis: auto;
    font: 700 30px times, sans-serif;
  }

.answer_name:hover {
    color: royalblue;
    align-self: stretch;
    flex-basis: auto;
    font: italic 700 30px times, sans-serif;
    font-weight: bold;
    font-size: 35px;
}

#forward_back_box {
    position: static;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

.back, .forward {
    color: royalblue;
    align-self: stretch;
    font: 700 50px times, sans-serif;
  }

.back_hidden, .forward_hidden {
  visibility: hidden;
  color: royalblue;
  align-self: stretch;
  font: 700 50px times, sans-serif;
}

.back:hover, .forward:hover {
  color: royalblue;
  font-weight: bold;
  align-self: stretch;
  font: 700 55px times, sans-serif;
}

#submit_button {
    border: 1px solid black;
    border-radius: 40px;
    background-color: #00a3ff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-self: stretch;
    display: flex;
    width: 350px;
    flex-direction: column;
    padding: 25px 80px;
    margin:0 auto;
    margin-top: 200px;
    margin-bottom: 100px;
  }

.submit_quiz {
    justify-content: center;
    color: white;
    text-align: center;
    align-self: center;
    font: italic 700 36px times, sans-serif;
  }

#spacer{
  height: 200px;
}

