a{
    text-decoration: none;
    color: #4169e1;
}

a:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#q{
    font-size: 100px;
    font-style: italic;
}

.logo {
    color: royalblue;
    align-items: start;
    background-color: whitesmoke;
    width: 100%;
    padding: 12px 20px 12px 41px;
    font: 700 24px times, sans-serif;
}

body{
    background-color: whitesmoke;
}

.quiz_title{
    font: 24px times;
}

.quiz_result_title {
    color: royalblue;
    align-self: stretch;
    white-space: nowrap;
    font: 700 48px times, sans-serif;
}

.result_performance_flex {
    align-self: start;
    display: flex;
    width: 800px;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    margin: 75px 0 0 19px;
}

.results_label, .performance_label {
    color: royalblue;
    margin-top: 11px;
    font: 700 50px times, sans-serif;
}

.results_dash {
    align-self: center;
    margin-top: 25px;
    width: 100%;
    max-width: 1327px;
}

.results_dash_flex {
    gap: 20px;
    display: flex;
}

.results_column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 30%;
    margin-left: 0px;
}

.q_div_right {
    color: #0d9102;
    margin-top: 15px;
    white-space: nowrap;
    font: 700 50px times, sans-serif;
}

.q_div_wrong {
    color: #c90000;
    margin-top: 15px;
    white-space: nowrap;
    font: 700 50px times, sans-serif;
}

.performance_column {
    display: flex;
    flex-direction: row;
    line-height: normal;
    width: 70%;
    margin-left: 20px;
    justify-content: space-around;
}

.img {
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
}

.buttons_flex {
    align-self: center;
    display: flex;
    margin-top: 96px;
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
}

.retake_button, .topic_button, .home_button {
    border-radius: 40px;
    border: 1px solid #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

.button_text {
    justify-content: center;
    color: whitesmoke;
    text-align: center;
    border-radius: 40px;
    background-color: #00a3ff;
    align-items: center;
    padding: 25px 20px;
    font: italic 700 36px times, sans-serif;
}