/* Styles the body */
a{
    text-decoration: none;
    color: #4169e1;
    max-width: 300px;
}

a:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

html, .body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    width:100%;
}

/* Styles the header */
.header {
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding-left: 55px;
    max-height: 150px;
}

#q{
    font-size: 100px;
    font-style: italic;
}

.logo {
    color: royalblue;
    font: 700 24px times, sans-serif;
    font-style: italic;
}

.hero {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: calc(100% - 75px);
    margin-left: 75px;
}

.quiz_title {
    color: royalblue;
    align-self: stretch;
    font: 700 48px times, sans-serif;
    padding-left: 60px;
  }

#quiz_list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

/* Do I even need this div down here? */
.hero_flex {
    display: flex;
    width: 100%
}

.chart_box {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 56%;
      margin-left: 0px;
    }

.chart {
    border-radius: 0px 360px 360px 0px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 0px;
    /* padding-top: 11px; */
    padding-bottom: 11px;
}

/* placeholder for chart picture */
.img {
    object-fit: contain;
    object-position: center;
    width: 375px;
    align-self: start;
    margin-left: 16px;
    max-width: 100%;
}
/* These three below are for the scoreboard */
.instruction_box {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 44%;
    margin-top: 30px;
}

.instruction {
    display: flex;
    flex-direction: column;
}

.instruction_title {
    color: royalblue;
    text-align: center;
    align-self: start;
    font: italic 700 50px times, sans-serif;
}

.scoreboard_box {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-between;
    align-self: center;
    margin-top: 39px;
    margin-left: 40px;
    width: 100%;
}

.scoreboard_flex {
    display: flex;
    align-content: space-evenly;
}

.score_col {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 50px;
}

.total_q_flex {
    border-radius: var(--selectedItem, 0px);
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}

.score_title {
    color: royalblue;
    text-align: center;
    align-self: start;
    font: italic 700 20px times, sans-serif;
}

#wrong_score{
    color:red;
}

#correct_score{
    color:darkgreen;
}

.score {
    display:flex;
    flex-direction: column;
    color: royalblue;
    text-align: center;
    align-self: center;
    font: italic 700 75px times, sans-serif;
    width:33%;
    margin: 0 auto;
}

.levels_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#percent_score {
    /* color: white; */
    text-align: center;
    /* background-color: #4169e1; */
    width: 100%;
    margin: 0 auto;
    font: italic 700 75px times, sans-serif;
}

.topic_div, .quiz_div {
    color: #4169e1;
    outline: black 4px;
    outline-style: solid;
    text-align: center;
    align-self: center;
    border-radius: 25px;
    background-color: whitesmoke;
    margin-top: 5px;
    width: 33.3%;
    min-width: 300px;
    min-height: 300px;
    font: 700 32px times, sans-serif;
}

.topic_div:hover, .quiz_div:hover {
    color: whitesmoke;
    outline: black;
    align-self: center;
    border-radius: 25px;
    background-color: royalblue;
    width: 33.3%;
    /* padding-left:50px; */
    font: 700 36px times, sans-serif;
    font-style: italic;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
}

.topic_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width:100%;
}

.topic_column{
    display: flex;
    flex-direction: column;
}

.topic_image{
    width: 300px;
    height: 300px;
    border-radius: 25px;
}

.topic_title{
    color: whitesmoke;
}

#finance_img{
    background-image: url('./assets/Finance_image.jpeg');
    background-size: 100% 100%;
}

#movies_img{
    background-image: url('./assets/Movies_image.png');
    background-size: 100% 100%;
}

#sports_img{
    background-image: url('./assets/Sports_image.png');
    background-size: 100% 100%;
}

#geography_img{
    background-image: url('./assets/USGeography_image.png');
    background-size: 100% 100%;
}

#hg_img{
    background-image: url('./assets/HG_image.png');
    background-size: 100% 100%;
}

#wg_img{
    background-image: url('./assets/Earth.png');
    background-size: 100% 100%;
}

#us_politics_img{
    background-image: url('./assets/USPolitics_image.png');
    background-size: 100% 100%;
}

#economics_img{
    background-image: url('./assets/Economics_image.png');
    background-size: 100% 100%;   
}

#wh_img{
    background-image: url('./assets/WH_img.png');
    background-size: 100% 100%;      
}

#wp_img{
    background-image: url('./assets/WP_img.png');
    background-size: 100% 100%;      
}

#us_history_img{
    background-image: url('./assets/US_hist_img.png');
    background-size: 100% 100%;     
}

#philosophy_img{
    background-image: url('./assets/Philosophy.png');
    background-size: 100% 100%; 
}

#easy{
    background-image: url('./assets/Baby.png');
    background-size: 100% 100%; 
}

#medium{
    background-image: url('./assets/Adult.png');
    background-size: 100% 100%; 
}

#hard{
    background-image: url('./assets/Hard.png');
    background-size: 100% 100%; 
}