/* Styles the body */
html, .body {
    background-color: white;
    display: flex;
    flex-direction: column;
    width:100%;
}

/* Styles the header */
.header {
    background-color: white;
    align-self: stretch;
    display: flex;
    width: 100%;
    align-items: flex-start;
}

/* Styles the "QuizApp" logo*/
.logo {
    color: royalblue;
    font: 24px Helvetica, sans-serif;
}

.hero {
    background-color: #4169e1;
    align-self: center;
    margin-top: 33px;
    width: 100%;
}

.quiz_title {
    color: royalblue;
    align-self: stretch;
    font: 700 48px Helvetica, sans-serif;
  }

/* Do I even need this div down here? */
.hero_flex {
    display: flex;
}

.chart_box {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 56%;
      margin-left: 0px;
    }

.chart {
    border-radius: 0px 360px 360px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 0px;
    padding-top: 11px;
    padding-bottom: 11px;
}

/* placeholder for chart picture */
.img {
    object-fit: contain;
    object-position: center;
    width: 375px;
    align-self: start;
    margin-left: 16px;
    max-width: 100%;
}

.instruction_box {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 44%;
    margin-left: 20px;
}

.instruction {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.instruction_title {
    color: white;
    text-align: center;
    align-self: start;
    font: italic 700 50px Inter, sans-serif;
}

.instruction_steps {
    justify-content: center;
    color: white;
    align-self: end;
    margin-top: 31px;
    max-width: 558px;
    font: italic 700 50px Inter, sans-serif;
}

.scoreboard_box {
    align-self: center;
    margin-top: 39px;
    width: 100%;
}

.scoreboard_flex {
    display: flex;
}

.total_q_col {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
}

.total_q_flex {
    border-radius: var(--selectedItem, 0px);
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}

.total_score_title {
    color: royalblue;
    text-align: center;
    align-self: start;
    font: italic 700 20px Inter, sans-serif;
}

#total_q {
    color: royalblue;
    text-align: center;
    align-self: start;
    font: italic 700 100px Inter, sans-serif;
}

/* Styles these boxes within the scoreboard */
.correct_q_col, .wrong_q_col, .percent_col {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
}

.correct_score_holder {
    background-color: #7bb44e;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}

.wrong_score_q {
    background-color: #eb3333;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
}

.score {
    color: white;
    text-align: center;
    align-self: center;
    font: italic 700 100px Inter, sans-serif;
}

#percent_score {
    color: white;
    text-align: center;
    background-color: #4169e1;
    width: 100%;
    margin: 0 auto;
    font: italic 700 100px Inter, sans-serif;
}

.topic_div, .quiz_div {
    color: white;
    align-self: center;
    border-radius: 25px;
    background-color: #4169e1;
    margin-top: 35px;
    width: 100% - 50px;
    padding-top:2px;
    padding-bottom:1.75px;
    padding-left:50px;
    font: 700 48px Inter, sans-serif;
}

